*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
h1{
    text-align: center;
}
h1 span{
    
    font-size: 20px;
}
form{
    margin-top: 30px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
.input_field{
    
    font-size: 15px;    
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 4px;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}
#Job{
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 4px;
}
#address_bar{
    grid-column: 1 / span 2;
}
.applyform{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}
.applybutton{
    font-size: 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: hotpink;

}
.applybutton:hover{
    color: white;
    background-color: tomato;
}